/* Reset */
* {
    box-sizing: border-box;
    font-family: Verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #ddd;
    min-height: 100vh;
}

body {
    padding: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

h2 {
    color: #666;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    padding-bottom: 18px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    color: #333;
    font-size: 13px;
    line-height: 26px;
}

img {
    width: 100%;
    height: auto;
}

/* Layout */

.container {
    margin: auto;
    min-height: calc(100vh - 20px);
    max-width: 1000px;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 0 15px #333;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.links {
    margin: 5px 0 20px 0;
}

.links a {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    padding: 0 5px;
    color: #071f5a;
    font-size: 15px;
}

.links a:hover {
    color: #6c6b18;
}

.content {
    display: flex;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.col-left div {
    width: 250px;
}

.col-right div {
    width: 200px;
}

/* Styling */

.box {
    padding: 10px;
    border: solid 2px #eee;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .box {
        width: 100% !important;
    }
}

.box-header {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100% !important;
}

.box-content {
    font-size: 13px;
    color: #000;
    line-height: 18px;
}

.title {
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: -1px;
}

.header {
    font-size: 26px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .title, .banner {
        margin-bottom: 5px;
    }
}

.col-main {
    padding: 0 20px 0 20px;
}

@media screen and (max-width: 768px) {
    .col-main {
        padding: 5px;
    }
}
